<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="imatge/png" href="../images/web.png">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/mdb.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style_contact.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link href="https://fonts.googleapis.com/css?family=Livvic:400,600,700,900&display=swap&subset=vietnamese"
        rel="stylesheet">

</head>

<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark ">
            <a class="navbar-brand" href="#" id="Th_Logo"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Trang chủ <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown"> Danh mục </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="Task_ItemList.html"> Sản phẩm</a></li>
                            <li><a class="dropdown-item" href="#"> Tin tức </a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#"> Cửa hàng </a></li>
                    <li class="nav-item"><a class="nav-link" href="#"> Liên hệ </a></li>
                    <!-- <li class="nav-item">
                            <a class="btn ml-2 btn-warning" href="http://bootstrap-ecommerce.com">Download</a></li> -->
                </ul>
            </div>
        </nav>

        <!-- end nav-->
    </header>

    <main>
        <div class="contact">
            <div class="container-fluid">
                <h1 class="title-primary">Liên hệ với chúng tôi</h1>
                <h3>Nếu bạn không tìm thấy thông tin bạn cần vui lòng liên hệ với chúng tôi:</h3>
                <div class="contact-info mt-5">
                    <div class="row">
                        <div class=" col-lg-4 col-md-4 col-sm-6 col-12">
                            <div class="card card-contact">
                                <div class="card-header">
                                    SỐ ĐIỆN THOẠI
                                </div>
                                <div class="card-body">
                                    <p class="card-text">1800 111 111 (miễn phí) </p>
                                    <p class="card-text">hoặc 1900 111 111 (cước phí 2000VND/phút)</p>
                                </div>
                                <div class="card-footer text-muted">
                                    Giờ làm việc:<br />
                                    <p class="card-text">Thứ Hai – Thứ Sáu: 08:00 – 21:00</p>
                                    <p class="card-text">Thứ Bảy – Chủ Nhật: 08:00 – 17:00. Không làm việc trong các
                                        ngày lễ và tết âm lịch</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-4 col-md-4 col-sm-6 col-12">
                            <div class="card card-contact">
                                <div class="card-header">
                                    SMS
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Quý khách có thể nhắn tin cho chúng tôi bằng cách soạn tin nhắn
                                        gửi về 8088 (cước phí cho mỗi tin nhắn là 1,000 đồng).</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-4 col-md-4 col-sm-6 col-12">
                            <div class="card card-contact">
                                <div class="card-header">Liên hệ bảo hành</div>
                                <div class="card-body">
                                    <p class="card-text">Quý khách download mẫu bảo hành</p>
                                </div>
                                <div class="card-footer text-muted">
                                    <button type="button" class="btn btn-info btn-contact" id="Th_Tai_don"> Tải đơn bảo
                                        hành</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- CONTACT FORM -->
                    <div class="contact-form">
                        <div class="row mt-5">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header bg-info text-white"><i class="fa fa-envelope"></i>
                                        Liên Hệ
                                    </div>
                                    <div class="card-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="name">Họ tên</label>
                                                <input type="text" class="form-control" aria-describedby="emailHelp"
                                                    placeholder="Nhập họ tên" required style=" font-size: 1.6rem"
                                                    id="Th_Ho_ten">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="email" class="form-control" aria-describedby="emailHelp"
                                                    placeholder="Nhập Email" required style=" font-size: 1.6rem"
                                                    id="Th_Email">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Tiêu đề</label>
                                                <input type="text" class="form-control" aria-describedby="emailHelp"
                                                    placeholder="Nhập tiêu đề" required style=" font-size: 1.6rem"
                                                    id="Th_Tieu_de">
                                            </div>
                                            <div class="form-group">
                                                <label for="Th_Noi_dung">Lời nhắn</label>
                                                <textarea class="form-control rounded-0" style=" font-size: 1.6rem"
                                                    id="Th_Noi_dung" rows="10"></textarea>
                                            </div>
                                            <div class="mx-auto">
                                                <button type="submit" class="btn btn-info text-right" id="Th_Dong_y"
                                                    style=" font-size: 1.3rem">Gửi</button>
                                                <button type="reset" class="btn btn-light text-right"
                                                    style=" font-size: 1.3rem">Xóa</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>

    <footer class="footer">
        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-12 mt-3">
                        <p>*Hình ảnh hiện thị ở màn hình trên đầu trang dùng cho mục đích minh họa
                            <p>*Các tính năng và thông số kỹ thuật có thể thay đổi mà không cần thông báo trước.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-2">
                        <div class="mail-box">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <input class="fxf-tbox" type="email" placeholder="Nhập Email" required
                                id="Th_MailSubscribe">
                            <button class="fxf-btn" type="button" name="button" id="Th_Subscribe">NHẬP MAIL</button>

                        </div>
                        <p class="mail-box-text mt-3" id="Th_TBSubscribe">(Nhập Email để nhận nhiều tin tức ưu đãi hơn)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3">
                        <div class="main-footer__left" id="Th_info_footer">

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="main-footer__center">
                            <div class="row">
                                <div class="col-6">
                                    <h3 class="footer-title ">
                                        Thông tin Công ty
                                    </h3>
                                    <div class="footer-nav">
                                        <ul class="footer-list">
                                            <li class="footer-item"><a href="#" class="footer-link">Về chúng tôi</a>
                                            </li>
                                            <li class="footer-item"><a href="#" class="footer-link">Tin tức và sự
                                                    kiện</a></li>
                                            <li class="footer-item"><a href="#" class="footer-link">Blog</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h3 class="footer-title ">
                                        Bạn cần hỗ trợ ?
                                    </h3>
                                    <div class="footer-nav">
                                        <ul class="footer-list">
                                            <li class="footer-item"><a href="#" class="footer-link">Liên hệ</a></li>
                                            <li class="footer-item"><a href="#" class="footer-link">Hỗ trợ trực tiếp</a>
                                            </li>
                                            <li class="footer-item"><a href="#" class="footer-link">Email</a></li>
                                            <li class="footer-item"><a href="#" class="footer-link">Điện thoại</a></li>
                                            <li class="footer-item"><a href="#" class="footer-link">Trung tâm bảo
                                                    hành</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="main-footer__right">
                            <div class="row">
                                <div class="col-12">
                                    <button class="footer-btn" type="button" name="button">Nói với chúng tôi</button>
                                </div>
                                <div class="col-12">
                                    <div class="footer-payment">
                                        <img src="../images/pay1.png">
                                        <img src="../images/pay2.png">
                                        <img src="../images/pay3.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/mdb.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/style.js"></script>
    <script src="../Controller/Controller.js"></script>
    <script>VideoModal()</script>
    <script>
        window.onscroll = function () {
            scrollNav();
        }
    </script>
    <script>
        var Cua_hang = Doc_Thong_tin_Cua_hang();
        Xuat_Thong_tin_Cua_hang(Cua_hang, Th_Logo)
        Xuat_Thong_tin_Cua_hang_Footer(Cua_hang, Th_info_footer)
        Th_Tai_don.onclick = () => {
            var tap_tin = "warran.pdf"
            var ten_moi = "Phieu_bao_hanh_280492";
            Tai_tap_tin(tap_tin, ten_moi);
        }

        Th_Dong_y.onclick = () => {
            var ho_ten = Th_Ho_ten.value
            var email = Th_Email.value
            var tieu_de = Th_Tieu_de.value
            var noi_dung = Th_Noi_dung.value
            var html = `<h4>Họ tên:${ho_ten}</h4>`
            html += `email:${email}`
            html += `<h5>${tieu_de}</h4>`
            html += noi_dung
            let Kq = Khach_hang_Lien_he(html)
            if (Kq == "OK") {
                alert('Cám ơn bạn đã gởi mail. Chúng tôi sẽ sớm trả lời thư của bạn')
            } else {
                alert('Lỗi, Xin thực hiện lại ')
            }
        }

        Th_Subscribe.onclick = () => {
            if (Th_MailSubscribe.value != "") {
                var email = Th_MailSubscribe.value
                var html = `email:${email}`
                let Kq = Khach_hang_Lien_he(html)
                if (Kq == "OK") {
                    Th_TBSubscribe.style.color = "green"
                    Th_TBSubscribe.innerHTML =`Cám ơn bạn đã quan tâm`
                }
            } else {
                Th_TBSubscribe.style.color = "red"
                Th_TBSubscribe.innerHTML =`Xin hãy cung cấp thông tin email`
                Th_MailSubscribe.focus();
            }
        }

    </script>
</body>

</html>